<html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <h1>Rememeber to buy</h1>
    <ul>
    {{range .}}
        <li>{{.Number}} - {{.Text}}</li>
    {{end}}
    </ul>
</body>

</html>